<!DOCTYPE html>
<html>
<head>
    <title>Ethio Chatbot</title>
</head>
<body>
    <h1>Made in 💛love💛 with python by Joseph Tesfaye</h1>
    <textarea id="userInput" rows="4" cols="50"></textarea><br>
    <button onclick="sendMessage()">send</button>
    <p id="chatResponse"></p>
    <script>
        async function sendMessage(){
            const userInput = document.getElementByid{"userInput"}.value;
            const response = await fetch("/chat",{
                method: "POST",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({message: userInput}),
            });
            const data = await response.json();
            document.getElementByid("chatResponse").innerText = data.response;

        }
    </script>
</body>
</html>